.head-container {
  display: flex;
  width: 100%;
  background-color: #fff;
}

.header-container {
  margin: 0 auto;
}

.header-container img {
  display: flex;
  width: 100%;
}

.links-container {
  display: flex;
  width: 100%;
  background-color: #fff;
}

.props_to_me {
  margin-left: 2em;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















