.head-container {
  display: flex;
  width: 100%;
  background-color: #fff;
}

.header-container {
  margin: 0 auto;
}

.header-container img {
  display: flex;
  width: 100%;
}

.links-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.links-container img {
  margin: 0 auto;
  padding: 1em;
  padding-bottom: 4em;
}

.props_to_me {
  margin-left: 2em;
}

.video {
  margin: 0 auto;
  padding-bottom: 4em;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















